<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ecom" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Font Awesome via CDN (safe, working) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <!-- app/views/layouts/application.html.erb -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% if admin_signed_in? %>
        <%= link_to "Admin Dashboard", admin_root_path %>
        <%= button_to "Logout", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to "Admin Login", new_admin_session_path  %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
